/* MAIN PROPERTIES */
body {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

a {
  text-decoration: none;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

/*CODE RESTRUCTURATION
HOME PAGE - PHOTOGRAPHERS LIST
*/
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.photographers {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographers a {
  text-align: center;
}

.photographers_img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 15px rgb(154, 153, 153);
  transition: ease-in-out;
}

.photographers_img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.photographers_name,
.profile_name {
  color: #d3573c;
  font-size: 36px;
  font-weight: 300;
  margin: 15px 0 0;
}

.profile_name {
  font-size: 55px;
}

.photographers_localization,
.profile_localization {
  margin: 5px;
  color: #980000;
  font-size: 14px;
}

.profile_localization {
  font-size: 20px;
}

.photographers_motto {
  margin: 5px;
  font-size: 13px;
  font-weight: 500;
}

.photographers_price,
.profile_motto {
  margin: 5px;
  color: rgb(94, 94, 94);
  font-size: 14px;
}

.profile_motto {
  margin-top: 20px;
  font-size: 16px;
}

/*PROFILES*/
.header_profile {
  margin: 20px 55px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  padding: 25px 40px;
}

.profile_img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 15px rgb(154, 153, 153);
  transition: ease-in-out;
}

.contact_button,
.btn_submit,
.btn_message {
  font-size: 20px;
  /*font-weight: bold;*/
  color: white;
  padding: 11px;
  width: 165px;
  height: 65px;
  border: none;
  background-color: #901c1c;
  border-radius: 10px;
  cursor: pointer;
}

.contact_button:hover,
.dropdown_option:hover {
  background-color: #db8876;
  color: black;
  font-weight: 600;
}

/*****
 Modal form START
*****/
/*FORM MESSAGE*/
:root {
  --error-color: #901c1c;
  --success-color: #28a745;
  --modal-duration: 0.8s;
}

textarea {
  resize: none;
  padding: 10px;
  font-size: 14px;
  display: block;
  width: 92%;
  height: 70px;
  border: 3px solid #db8876;
  border-radius: 5px;
  outline: none;
}

#bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(79, 79, 79, 0.4);
}

.button_close,
.buttonConfirm_close,
.btn_up,
.btn_down {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 35px;
}

.buttonConfirm_close {
  position: absolute;
  right: 10px;
  padding: 10px;
}

.content,
#confirm_message {
  margin: 5% auto;
  width: 100%;
  max-width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.container,
#confirm_message {
  background-color: #db8876;
  color: white;
  border-radius: 5px;
  width: 400px;
}

.form {
  padding: 10px 20px;
  border-radius: 5px;
}

.form_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: black;
}

.form_header h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 200;
  color: black;
}

form label,
form p {
  font-size: 18px;
  font-weight: initial;
}

form img {
  width: 7%;
}

.form_field {
  margin-bottom: 10px;
}

.form_field label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.form_field input {
  padding: 5px;
  font-size: 14px;
  display: block;
  width: 95%;
  border: 3px solid #db8876;
  border-radius: 5px;
}

.form_field input:focus {
  outline: none;
}

.form_field.error input,
.form_field.error textarea {
  border-color: var(--error-color);
}

.form_field.success input,
.form_field.success textarea {
  border-color: var(--success-color);
}

.form_field small,
.errorMsg {
  color: var(--error-color);
  font-size: 14px;
  font-weight: bold;
}

.btn_submit {
  width: 150px !important;
  height: 50px;
  font-size: 18px !important;
  border: none !important;
  margin-top: 25px;
  margin-left: 95px;
}

.btn_message {
  border-radius: 5px;
  padding: 5px;
  width: 35% !important;
  height: 50px;
  margin-bottom: 25px;
  margin-left: 125px;
}

.btn_submit:hover,
.btn_message:hover {
  border: 2px solid rgb(255, 72, 0) !important;
  cursor: pointer;
}

#form_name {
  color: black;
  font-size: 28px;
  margin: 0;
  padding-bottom: 15px;
}

/*CONFIRM MESSAGE - CLOSE MODAL*/
#confirm_message img {
  width: 7%;
}

#confirm_message {
  height: 470px;
}

.confirmMsg_close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 20px;
}

#confirm_message_style {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 50vh;
}

#confirm_message_style p {
  font-weight: normal;
  font-size: 20px;
  padding: 10px;
  color: black;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/*****
 Modal form END
*****/

/*FILTER*/
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 20px 55px;
}

.filter h3 {
  margin-right: 10px;
}
.sort_choices {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown {
  width: 155px;
}

.launch_sort_choices {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  color: white;
  height: 55px;
  background: #901c1c;
  cursor: pointer;
  border-radius: 5px;
}

.btn_down,
.btn_up {
  margin-left: 20px;
  font-size: 16px;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort_choices_listbox {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  /*padding: 0 10px;*/
  background: #901c1c;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.borderTitle {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sort_choices_listbox:hover {
  padding: 0;
}

.sort_choices.open .sort_choices_listbox {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.sort_choices.open a {
  border-radius: 0;
}

.filter_option {
  position: relative;
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-top: 1px solid white;
  transition: all 0.5s;
}

.filter_option:hover {
  cursor: pointer;
  background-color: #db8876;
  color: black;
  margin: 0;
}

.filter_option.selected {
  display: none;
}

/*GALLERY*/
.gallery {
  display: grid;
  row-gap: 25px;
  column-gap: 40px;
  grid-template-columns: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
  margin: 50px 55px;
}

.gallery img,
video {
  height: 280px;
  border-radius: 5px;
  object-fit: cover;
  object-position: 30% 10%;
  width: 100%;
  cursor: pointer;
}
.cards_media {
  color: #901c1c;
  font-weight: 600;
}

/*LIKES + LIKES -*/
.heart_link {
  background: transparent;
  border: none;
  color: #901c1c;
}
.media_footer,
.media_like {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media_footer p {
  margin: 0;
}

/*LIKES TOTAUX*/
.total_section {
  /*display: none;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: #db8876;
  height: auto;
  width: auto;
  border-radius: 5px;
  color: black;
}

.total_likes,
.price {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  font-size: 20px;
}
.heart {
  /*font-weight: bold;*/
  font-size: large;
  text-align: center;
  padding: 0.5rem;
  display: flex;
}

.price_info {
  margin-left: 5px;
}
.total_likes,
.price {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin: 7px;
}

.heart_link {
  cursor: pointer;
}

/*LIGHTBOX*/
.lightbox {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.lightbox_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #901c1c;
  width: 100%;
  height: 100%;
  position: relative;
  /*animation: apparition-down .8s ease-in-out;*/
}

.lightbox_container p {
  font-size: 22px;
  font-weight: bold;
  margin: 0 225px 0;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}
.active {
  opacity: 1 !important;
}

.slider img,
.slider video {
  margin: auto;
  height: 75%;
  width: 65%;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(134, 134, 134);
  object-fit: cover;
}

.running {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 35px;
}

.close {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 5%;
  right: 10%;
  font-size: 50px;
  cursor: pointer;
  color: #901c1c;
  padding: 0;
}

.right,
.left {
  color: #901c1c;
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.running button:nth-child(1) {
  top: 40%;
  left: 10%;
}

.running button:nth-child(2) {
  top: 40%;
  right: 10%;
}
